.beatfrog{
  position: relative;
  left:90px;
  margin: 0px;
  animation: beatfrog;
  animation-duration: 1s;
  animation-delay: .0s;
  animation-iteration-count: infinite;
  height: 3px;
  width:3px;
  border-radius:45%;
  background: -webkit-radial-gradient(
    rgba(143, 0, 145,0.27),rgba(104, 255, 12, 0.09));
  opacity: 0%;
}
@keyframes beatfrog{
  50%{transform: scale(27,27);}
  50%{opacity:36%;}
  100%{transform: rotate(180deg);}

}

.CamMonitor{
position: absolute;
top:95px;
width: 445px;
height: 392px;
left:409px;
background: linear-gradient( rgba(216, 231, 255, 0.09) 19%, rgba(145, 255, 0,0.07) 100%);
border-radius: 90px;
transform:rotateY(360deg);
transform:translateX(-90px);
transform:translateY(-19px);
overflow: auto;
border-width: 27px;
border-style: solid;
border-color:#fb00ff09;
opacity: 95%;
}
@keyframes monitor {
  50%{opacity: 900%}
}
.videoJawn{
  height:445px;
  width:405px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 19px;

  overflow: hidden;

}
.innerVideo{
  transform:translate(-53px,-17px);
  top: 19px;
  margin:16px;

}

/*         DataFrame Animation              */

.screenDiv{

  touch-action: pinch-zoom;
  animation: screenDiv;
  animation-duration: 9s;
  animation-iteration-count:1 ;
  animation-fill-mode: forwards;
  transition: all 1s ease;
  position: top left;
  transform-origin: top left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  background: linear-gradient( rgba(2245, 240, 211, 0.45) 0%, rgba(245, 240, 211,.6) 100%);
  border-radius: 27px;;
  display: table;
  display: table-cell;
}
@keyframes screenDiv {
  100%{  padding: 9px;}
  100%{  opacity: 100;}
}
.screenDiv:active  {
    /* animation css */
    animation-fill-mode: forwards;
    transform-origin: top left;
    transform: scale(0.2,0.2)
}
.slidey{
  position: absolute;
  left:320px;
  top:630px;
  width:90px;
  height: 9px;
  margin: 19px;
  background-color: rgba(245, 240, 211, 0.45)
}

.superScreen{
  transform-origin: top left;
  touch-action: pinch-zoom;
  display: flex;
  list-style: none;
  position: relative;
  padding: 19px;
  margin: 19px;
  display:flex;
  flex-wrap: wrap;
  padding: 19px;
  margin-left: 19px;
}
.subScreen{
  display: flex;
  text-align: center;

}
