body{
 background: -webkit-linear-gradient( rgba(239, 234, 219,1),rgba(143, 0, 145, 0.0190)) ;
 height: 100%;
     margin: 0;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

.animap{
  width: 45px;
  height:45px;
  padding: 45px;
  margin: 45px;
}

.d1{
  position: absolute;
  animation: a1;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 100%;

}
@keyframes a1 {
  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 9%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}
}
.d2{
  position: absolute;
  animation: a2;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a2 {

  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 9%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}

}
.d3{
  position: absolute;
  animation: a3;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a3 {
  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 9%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}
}
.d4{
  position: absolute;
  animation: d4;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes d4 {
  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 9%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}
}
.d5{
  position: absolute;
  animation: a5;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a5 {

  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 9% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}

}
.d6{
  position: absolute;
  animation: a6;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a6 {
  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 9%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}
}
.d7{
  position: absolute;
  animation: a7;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a7 {
  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 9%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 0%}
}
.d8{
  position: absolute;
  animation: a8;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a8 {

  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 9%}
  100%{opacity: 0%}

}
.d9{
  position: absolute;
  animation: a9;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  background-color: rgb(143, 0, 145);
  margin: 0px;
  height: 19px;
  width:19px;
  opacity: 9%;
  font-family: "Djakarta";
  font-size:0px;
  font-weight: bold;
  justify-content: center;
  opacity: 0%
}
@keyframes a9 {
  0%{opacity: 0%}
  5%{opacity: 0% ;}
  10%{opacity: 0%}
  20%{opacity: 0%}
  30%{opacity: 0%}
  40%{opacity: 0%}
  50%{opacity: 0% ;}
  60%{opacity: 0%}
  70%{opacity: 0%}
  80%{opacity: 0%}
  90%{opacity: 0%}
  100%{opacity: 9%}
}


.LSA{
}
.Mohadjeri.family{
  height: 45px;
  width:45px;
  animation-fill-mode: forwards;
  transform: scale(0.2,0.2);
  transform: translate(180px, 90px);
  padding: 19px;
}
.Tichenor.family{
  height: 45px;
  width:45px;
  animation-fill-mode: forwards;
  transform: scale(0.2,0.2);
  transform: translate(160px, 70px);
  padding: 19px;
}

.Dannells-Krieger{
  position: absolute;
  animation-fill-mode: forwards;
  transform: scale(0.2,0.2);
  transform: translate(180px, -360px);
}
