.arcade{
  left:19px;
  top:;
  position: absolute;
  overflow: auto;
  height: 450px;
  width:810px;
  border-width: 9px;
  border: solid;
  border-radius: 45px;
  border-color:rgba(145, 255, 0,0.0);
  box-shadow: inset 0 0 0px rgba(216, 231, 255, 0.45),
  inset 0 0 0px rgba(255, 255, 255, 0), 01px 0px 19px
  rgba(216, 231, 255, 0.6), -9px -7px 9px rgba(244,248,253,0.44),
  inset 0px 5px 2px rgba(216, 231, 255, 0.6);
  transition: box-shadow 190ms ease-in;
}


.h2b {
  font-family: 'Titillium Web';
  margin: 0px;
  color: rgba(255, 61, 12, 0.60);
  opacity: 60%;

}

.unit{
  animation: unit;
  animation-duration: 2s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  font-family: "Titillium Web";
  margin-left: 19px;
  color:rgba(143, 0, 145);
  opacity:45%;
}
.unitb{
  /* animation: unit; */
  animation-duration: 4s;
  animation-iteration-count:infinite ;
  position:absolute;
  animation-fill-mode: forwards;
  font-size: 19px;
  font-weight: bold;
  font-family: "Titillium Web";
  margin-left: 19px;
  color:rgb(143, 0, 145);
  opacity:100%;
}
.unitb2{
  /* animation: unit; */
  animation-duration: 4s;
  animation-iteration-count:infinite ;
  position:relative;
  animation-fill-mode: forwards;
  font-size: 20px;
  font-weight: bold;
  font-family: "Titillium Web";
  margin-left: 19px;
  opacity:100%;

}
.unitb3{
  /* animation: unit; */
  animation-duration: 4s;
  animation-iteration-count:infinite ;
  position:relative;
  animation-fill-mode: forwards;
  font-size: 19px;
  font-weight: bold;
  font-family: "Titillium Web";
  margin-left: 19px;
  opacity:100%;
  text-align: right;
  transform: translateX(-72px);

}
@keyframes unit {
  50%{opacity: 36%  ;}
  50{  background-color: rgba(145, 63, 0,0.72);}
}
.units{
  height: 360px;
  width: 210px;
  /* animation: units; */
  animation-duration: 1s;
  animation-iteration-count:infinite ;
  border-radius: 14px;
  position:absolute;
  transform: translateX(-14px);
  animation-fill-mode: forwards;
  font-size: 19px;
  font-weight: bold;
  font-family: "Titillium Web";
  opacity:100%;
}
@keyframes units {
  50%{  background-color: rgba(145, 255, 0,0.79);}
}
.blocks{
  height: 90px;
  width: 90px;
  animation: blocks;
  animation-duration: 0.1s;
  animation-iteration-count:infinite ;
  border-radius: 14px;
  position:absolute;
  transform: translateX(180px);
  animation-fill-mode: forwards;
  font-size: 19px;
  font-weight: bold;
  font-family: "Titillium Web";
  opacity:100%;
}
@keyframes blocks {
  50%{  background-color: rgba(145, 255, 0,0.79);}
}

.button2{
  text-decoration: none;
}

.v2{
  animation-name: v2;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  width: 60px; /* width of container */
  height: 60px; /* height of container */
  object-fit: cover;
  border-radius: 9%;
  opacity:90%;
}
@keyframes v2 {
  50%{transform: scale(.9,.9);}
}
.v2b{
  animation-name: v2b;
  animation-duration: 0.9s;
  animation-iteration-count:infinite;
  width: 60px; /* width of container */
  height: 60px; /* height of container */
  object-fit: cover;
  border-radius: 9%;
  opacity:90%;
}
@keyframes v2b {
  50%{transform: translateY(9px );}
  100%{transform: rotate(180deg);}
}
.v4{
  animation-name: v4;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  width: 60px; /* width of container */
  height: 60px; /* height of container */
  object-fit: cover;
  border-radius: 9%;
  opacity:90%;
}
@keyframes v4 {
  50%{transform: scale(.4,.4);}
  50%{opacity:10%;}
}


/* carousels */

.carousel0{
    width: 900px;
    height: 180px;
}
.carousel-inner{
    width: 900px;
    height:180px;
    opacity: 100%;
    padding: 2px;
    position: absolute;
    top: -9px;
    left: 19px;
    margin-top: 9px;


}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 9px;
  border-radius: 50%;
  background-image: none;

}

.carousel-control-prev,
.carousel-control-next {
  height: 5px;
  width:5px;
  background-image: none;

}

.carousel-control-next-icon:after
{
  content: url('./vectors/r1.svg');
  padding: 9px;
  position: absolute;
  left: -400px;
  top:45px;
  animation-name: buttonCarousel;
  animation-duration: 4s;
  animation-iteration-count:infinite;

}

.carousel-control-prev-icon:after {
  content: url('./vectors/l1.svg');
  padding: 9px;
  position: absolute;
  left: -119px;
  top:45px;
  animation-name: buttonCarousel;
  animation-duration: 4s;
  animation-iteration-count:infinite;
}
@keyframes buttonCarousel {
  50%{transform: scale(1.0,1.0);}

}


.blocks2{
  transform:scale(0.9,0.9);
  height:144px;
  padding: 0px;
  display:inline-table;
  margin-left: 45px;
}
.blocks2{
  transform:scale(0.9,0.9);
  height:144px;
  padding: 0px;
  display:inline-table;
  margin-left: 45px;
}


ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  float: left;
  right: 0;
  width: auto;
  border-radius: 15px;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  position: absolute;
  float: left;
  width: 19px;
  height: 9px;
  margin: 90px;
  transform: translateX(19px);
  border-radius: 5px;
  border: 0;
  background: rgba(145, 255, 0,0.0);
  animation: v1;
  animation-duration: 1s;
  animation-iteration-count:infinite ;
  opacity: 90%;

}
ol.carousel-indicators li.active {
  background: rgba(99, 52, 36,0.0);
  animation: v1;
  animation-duration: 1s;
  animation-iteration-count:infinite ;

}

/*  */

.melodyBox{
  animation-name: melodyBox;
  animation-duration: 1.9s;
  animation-iteration-count:infinite;
  background: rgba(184, 78, 249, 0.36);
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform: translateY(-5px);
  display: inline-block;
  margin-right: 9px;
  width: 60px; /* width of container */
  height: 60px; /* height of container */
  border-radius: 23%;
  opacity:45%;
  box-shadow: inset 0 0 0px rgba(84, 78, 249, 0.09),
  inset 0 0 0px rgba(255, 255, 255, 0), 1px 0px 5px
  rgba(184, 78, 249, 0.57), -9px -7px 9px rgba(244,248,253,.36),
  inset 0px 0px 2px rgba(255, 255, 255, 0.09);
  transition: box-shadow 190ms ease-in;
}
@keyframes melodyBox {
  25%{transform: scale(.96,.96);}

}
.melodyBoxB{
  animation-name: melodyBoxB ;
  display: inline-block;
  animation-duration: 1.9s;
  animation-iteration-count:infinite;
  background: rgba(184, 78, 249, 0.36);
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform: translateY(-19px);
  width: 60px; /* width of container */
  height: 60px; /* height of container */
  object-fit: cover;
  border-radius: 23%;
  opacity:45%;
  box-shadow: inset 0 0 0px rgba(84, 78, 249, 0.09),
  inset 0 0 0px rgba(255, 255, 255, 0), 01px 0px 5px
  rgba(184, 78, 249, 0.57), -9px -7px 9px rgba(244,248,253,.36),
  inset 0px 5px 2px rgba(255, 255, 255, 0.09);
  transition: box-shadow 190ms ease-in;
}
@keyframes melodyBoxB {
  50%{transform: scale(.96,.96);}
}
.clusterBoxA{

  position: relative;
  animation-name: clusterBoxA ;
  display: inline-block;
  animation-duration: .9s;
  animation-iteration-count: 1;

  background: rgba(184, 78, 249, 0.00);
  width: 90px; /* width of container */
  height: 70px; /* height of container */
  border-radius: 26%;
  opacity:81%;
  box-shadow: inset 0 0 0px rgba(84, 78, 249, 0.09),
  inset 0 0 0px rgba(255, 255, 255, 0), 01px 0px 5px
  rgba(184, 78, 249, 0.0), 0px 0px 0px rgba(244,248,253,.0),
  inset 0px 0px 2px rgba(255, 255, 255, 0.09);
  transition: box-shadow 190ms ease-in;
}
@keyframes clusterBoxA {
  50%{transform: scale(.9,.9);}
}
.boxCluster{
  position: absolute;
  background: rgba(184, 8, 19, 0.19);
  animation-name: boxCluster ;
  animation-iteration-count:1;
  animation-fill-mode: forwards;


  top:19px;
  left: 19px;
  padding:19px;
  animation-duration: 4.5s;
  width: 19px; /* width of container */
  height: 19px; /* height of container */
  border-radius: 50%;
  opacity:9%;
}
@keyframes boxCluster {
  100%{opacity: 45%;}
  100%{transform:scale(1.5,1.4)}
}



.df {
  animation: df;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  display: inline-block;
  margin: 9px;
  height:60px;
  width: 60px;
background: linear-gradient(180deg, rgba(216, 231, 255, 0.6) 0%, rgba(196, 196, 196,0.3) 100%);
border-radius: 9px;;
}
@keyframes df{
  50%{width:90px}
}
.PaintFrame {
  animation: PaintFrame;
  animation-duration: 4s;
  animation-iteration-count:infinite ;
  display: inline-block;
  margin: 9px;
  height:60px;
  width: 60px;
  background: linear-gradient(180deg, rgba(216, 231, 255, 0.6) 0%, rgba(196, 196, 196,0.3) 100%);
  box-shadow: inset 0 0 0px rgba(216, 231, 255, 0.6),
  inset 0 0 0px rgba(255, 255, 255, 0), 01px 0px 5px
  rgba(216, 231, 255, 0.6), -9px -7px 9px rgba(244,248,253,.36),
  inset 0px 5px 2px rgba(216, 231, 255, 0.6);
  transition: box-shadow 190ms ease-in;
  border-radius: 9px;;
}
@keyframes PaintFrame{
  50%{transform: scale(1.2,1.2)}
}
.slope{
  position: absolute;
  top: 53px;
  left: 144px;
  background: -webkit-linear-gradient( rgba(239, 234, 219,1),rgba(191, 191, 63, 0.90)) ;
  height:60px;
  width:60px;
  transform: rotate(90deg);
}


.axis{
  animation: axis;
  animation-duration: 1s;
  animation-iteration-count:infinite ;
  position: absolute;
  border-color:rgba(145, 255, 0,0.0);
  opacity: 45%;
  left: -43px;
  top:-63px;

}
@keyframes axis{
  50%{transform:scale(.8,.8)}
  50%{opacity: 60%}

}

.clusterbox{
  animation: clusterbox;
  position: absolute;
  left: -90px;
  top:-9px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.6,.6) ;
  opacity:50%

}
@keyframes clusterbox{
  50%{transform:scale(.5,.5)}
  50%{opacity:100%}


}
.clusters{
  animation: clusters;
  position: absolute;
  left: -29px;
  top:19px;
  animation-duration: 2.7s;
  animation-iteration-count:infinite ;
  transform: scale(.6,.6) ;
  opacity:0%

}
.clusters2{
  animation: clusters2;
  position: absolute;
  left: 32px;
  top:76.5px;
  animation-duration: 2.9s;
  animation-iteration-count:infinite ;
  transform: scale(.19,.19) ;
  opacity:19%

}
@keyframes clusters{
  50%{transform:scale(1,1)}
  50%{opacity:90%}


}
@keyframes clusters2{
  50%{transform:scale(2.3,2.3)}
  50%{opacity:60%}
}



.cambox{
  animation: cambox;
  position: absolute;
  left: -85px;
  top:0px;
  animation-duration: 2.9s;
  animation-iteration-count:infinite ;
  transform: scale(.51,.51) ;
  opacity:60%

}
@keyframes cambox{
  50%{transform:scale(.37,.37)}

}
.camboxmon{
  position: absolute;
  opacity:60%;
  animation: camboxmon;
  left:14px;
  top:74px;
  animation-duration: 1.9s;
  animation-iteration-count:infinite ;
  transform: scale(.6,.6) translate(0px,00px);
}
@keyframes camboxmon{
  50%{opacity: 60%}
  50%{transform:scale(.73,.73)}

}

.sumsquarebox{
  position: absolute;
  opacity:100%;
  animation: sumsquarebox;
  left:-39px;
  top:17px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.54,.54) translate(0px,00px);
}
.clustererbox{
  position: absolute;
  opacity:100%;
  animation: sumsquarebox;
  left:-87px;
  top:-36px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.57,.57) translate(0px,00px);
}
.beatbox{
  position: absolute;
  opacity:100%;
  animation: sumsquarebox;
  left:-139px;
  top:-49px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.49,.49) translate(0px,00px);
}
.cambox{
  position: absolute;
  opacity:100%;
  animation: sumsquarebox;
  left:-76px;
  top:-31px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.54,.54) translate(0px,00px);
}
.melody2{
  position: absolute;
  opacity:100%;
  animation: melody2;
  left:-50px;
  top:59px;
  animation-duration: .9s;
  animation-iteration-count:infinite ;
  transform: scale(.4,.4) translate(0px,00px);
}
@keyframes sumsquarebox{
  50%{opacity: 60%}
}
@keyframes melody2{
  50%{transform: scale(.4,.5)}
}
.sumsquareglass{
  position: absolute;
  opacity:100%;
  animation: sumsquareglass;
  left:-17px;
  top:27px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.56,.56) translate(0px,00px);
}
.beatglass{
  position: absolute;
  opacity:100%;
  animation: sumsquareglass;
  left:-67px;
  top:17px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.56,.56) translate(0px,00px);
}
.camglass{
  position: absolute;
  opacity:100%;
  animation: sumsquareglass;
  left:-43px;
  top:-9px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.49,.45) translate(0px,00px);
}
.clusterglass{
  position: absolute;
  opacity:100%;
  animation: sumsquareglass;
  left:-39px;
  top:-3px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.59,.59) translate(0px,00px);
}
@keyframes sumsquareglass{
}
.sumsquareline{
  position: absolute;
  opacity:0%;
  animation: sumsquareline;
  left:21px;
  top:19px;
  transform-origin: bottom left;
  animation-duration: 2.7s;
  animation-iteration-count:infinite ;
  transform: rotate(45deg) scale(.44,.44);
}
@keyframes sumsquareline{
  25%{opacity: 36%}
  50%{transform:rotate(-45deg) scale(.45,.45);}
  75%{opacity: 36%}
}
.Camlight{
  position: absolute;
  opacity:00%;
  animation: camlight;
  left:59px;
  top:9px;
  animation-duration: 2.9s;
  animation-iteration-count:infinite ;
  transform: scale(.59,.59) translate(0px,00px);
}
@keyframes camlight{
  50%{opacity: 60%}
  50%{transform:scale(.63,.63)}
}
.slopey{
  animation: slopey;
  position: absolute;
  left: 19px;
  top:60px;
  animation-duration: 4.9s;
  animation-iteration-count:infinite ;
  transform: scale(.6,.6) ;
  opacity:0%

}
@keyframes slopey{
  50%{  transform: scale(.6,.6) ;
}
  50%{opacity:100%}


}
