.Home .lander {
    padding: 80px 0;
    text-align: center;
  }

.Home .lander h1 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    color: rgba(197, 171, 255, 0.5)
}

.Home .lander p {
    color: #999;
}

.wikicell{
  animation: wikicell;
  animation-duration: 2s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  position: relative;
  border-radius: 14px;
  margin: 19px
}

@keyframes wikicell {
  50%{opacity: 36%  ;}
  50{  background-color: rgba(145, 63, 0,0.72);}
}
