.h2b {
  font-family: 'Titillium Web';
  margin: 0px;
  color: rgba(255, 61, 12, 0.60);
  opacity: 60%;
}

.unit{
  animation: unit;
  animation-duration: 2s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  font-family: "Titillium Web";
  margin-left: 19px;
  color:rgba(143, 0, 145);
  opacity:45%;
}
@keyframes unit {
  50%{opacity: 36%  ;}
  50{  background-color: rgba(145, 63, 0,0.72);
}
