body {
  background-color: rgba(239, 234, 219);
  font-family: "Montez", courier-new, sans-serif;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  background: -webkit-linear-gradient( rgba(239, 234, 219), 0.60), rgba(255, 69, 1, 0.61));

}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool */
h1 {
    font-size: 2em;
    font-family: "Press Start 2P", courier-new, sans-serif;
    position: absolute;
    opacity:90%;
    background-color: rgb(224, 219, 239);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        transform: translateY(-60px)
  }

.env{
  position:relative;
  margin: 50px auto;
  width: 18px;
  height: 180px;
  border:45px;
}
