body{
 background-color: rgb(239, 234, 219);

}
.h1b {
  font-family: 'Titillium Web';
  margin: 0px;
  color: rgba(255, 61, 12, 0.60);
  opacity: 60%;
}
.h2b {
  font-family: 'Titillium Web';
  margin: 0px;
  color: rgba(255, 61, 12, 0.60);
  opacity: 60%;
}

.test1{
  background-color: rgb(1, 234, 219);
  height:90px;
  width: 90px;
  border-radius: 9px;
  opacity: 36%;

}

.unit{
  animation: unit;
  animation-duration: 2s;
  animation-iteration-count:infinite ;
  animation-fill-mode: forwards;
  font-family: "Titillium Web";
  margin-left: 19px;
  color:rgba(143, 0, 145);
  opacity:45%;
}
